@layer components {
  .button {
    display: block;
    border: none;
    text-align: center;
    outline: none;
    box-shadow: none;
    max-width: 275px;
    @apply h-16 bg-primary rounded-md text-white text-xl p-3 w-full;

    &:enabled:hover, &:enabled:active {
      @apply bg-primary-light
    }

    &:focus {
      box-shadow: none;
    }

    &:focus-visible {
      @apply outline-grey-darker
    }
  }
}
